* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --bg-color: #ffffff;
    --hover-bg: #f0f0f0;
    --text-color: #2c3e50;
    --toolbar-bg: #f8f9fa;
    --border-color: #dee2e6;
    --font-body: 'Vazirmatn', Tahoma, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-code: 'Roboto Mono', monospace;
    --font-size-small: 14px;
}


[data-theme="dark"] .toolbar {
    --bg-color: #1a1a1a;
    --hover-bg: #2d2d2d;
    --text-color: #f8f9fa;
    --toolbar-bg: #2d2d2d;
    --border-color: #404040;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-body);
    background: var(--bg-color);
    color: var(--text-color);
}

select,
button,
input {
    outline: none;
}

#editor,
.toastui-editor-defaultUI,
.toastui-editor-defaultUI-toolbar {
    border: 0 !important;
    border-radius: 0 !important;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--toolbar-bg);
    border-bottom: 1px solid var(--border-color);
}

.toolbar-logo,
.left-controls,
.right-controls,
.right-controls label {
    display: flex;
    align-items: center;
}

.left-controls,
.right-controls {
    display: flex;
    gap: 0.5rem;
}

.center-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.editor-container {
    flex: 1;
    display: flex;
    overflow: hidden;
}

#editor,
.preview-pane {
    /* flex: 1; */
    /* padding: 1rem; */
    /* overflow-y: auto; */
    overflow-y: hidden;
    transition: all 0.3s ease;
}

#editor {
    width: 100%;
    border-right: 1px solid var(--border-color);
}

[dir="rtl"] #editor {
    border-right: none;
    border-left: 1px solid var(--border-color);
}

.preview-pane {
    font-family: var(--font-body);
    line-height: 1.6;
}

.preview-pane h1,
.preview-pane h2,
.preview-pane h3 {
    color: var(--text-color);
}

button,
select {
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
}

@media (max-width: 768px) {
    .editor-container {
        flex-direction: column;
    }

    #editor,
    .preview-pane {
        height: 50vh;
        border-right: none;
        border-bottom: 1px solid var(--border-color);
    }
}

/* .toastui-editor-md-code,.toastui-editor-md-code-block */
.toastui-editor-defaultUI,
.toastui-editor-tooltip,
.ProseMirror,
.toastui-editor-contents,
.toastui-editor-contents code,
.toastui-editor-contents pre {
    font-family: var(--font-body) !important;
}

.alert-message {
    transition: all .5s ease-in-out;
    font-size: var(--font-size-small);
    margin: 0;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.font-size-small {
    font-size: var(--font-size-small);
}

/* 
.toastui-editor [contenteditable],
.toastui-editor-contents p,
.toastui-editor-contents h1,
.toastui-editor-contents h2,
.toastui-editor-contents h3,
.toastui-editor-contents h4,
.toastui-editor-contents h5,
.toastui-editor-contents h6 {
    color: var(--text-color);
}

.toastui-editor-ww-container {
    background: inherit;
} */
/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 8px 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
    line-height: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: auto;
    left: auto;
    background-color: var(--bg-color);
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content button,
.dropdown-item {
    color: var(--text-color);
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    direction: ltr;
    border-radius: 0;
}

.dropdown-content button:hover,
.dropdown-item:hover {
    background-color: var(--hover-bg);
}

.dropdown-content hr {
    background-color: transparent;
    border: 0;
    border-top: 1px solid var(--border-color);
    margin: 4px 0;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropdown-item input[type="checkbox"] {
    margin: 0;
}

.dropdown-item span {
    position: relative;
    top: 3px;
}

.toastui-editor-md-code-block-line-background,
.toastui-editor-md-preview pre {
    direction: ltr !important;
}

[dir="rtl"] .task-list-item {
    margin-right: 0;
    padding-right: 0;
    /* margin-right: -24px; */
    padding-right: 24px;
}

[dir="rtl"] .task-list-item:before {
    left: auto;
    right: 0;
}

/* ///////////////////////////////////  Start Page Break CSS  /////////////////////////////////// */

del:has(+ del + del) {
    display: block;
    page-break-after: always;
    height: 1px;
    /* visibility: hidden; */
    margin: 20px 0;
    /* padding: 0; */
    border-top: 2px dashed #aaa;
    position: relative;
    color: var(--bg-color) !important;
}

del:has(+ del + del):before {
    content: '.';
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 94px;
    top: -10px;
    background-color: var(--bg-color);
    color: var(--bg-color);
}

del:has(+ del + del):after {
    content: 'Page Break';
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: -10px;
    /* background: #fff; */
    color: var(--text-color);
}

del:has(+ del + del) + del, del:has(+ del + del) + del + del {
    display: none;
}


/* ///////////////////////////////////  End Page Break CSS  /////////////////////////////////// */