@font-face {
  font-family: Vazirmatn;
  src: url('Vazirmatn-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('Vazirmatn-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('Vazirmatn-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('Vazirmatn-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url('Vazirmatn-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: Vazircode;
  src: url('Vazir-Code-Extra-Height.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazircode;
  src: url('Vazir-Code-Extra-Height.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}